
@{
    ViewBag.Title = "ManagerDashboard";
    Layout = "~/Views/Shared/_Layout - manager.cshtml";
}

<h2>ManagerDashboard</h2>
<main class="main" id="main">
    <a href="~/News" class="btn btn-danger"> Go to the News!</a>
</main>


